<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>GDP Data of two countries</title>
    <style>
    body{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
tr:nth-child(even){
  background-color: #eeee;
}
th{
 padding: 5px
}
table{
width: 100%;
  border-spacing: 0;
  margin: 5px;
  padding:5px;
  text-align: center;
  
}
tr:hover{
  background-color: gray;
  color: black
}
canvas {
   width:100%;
   height:100px;
   text-align: center;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
     <h1>Table that indicate two country GDP {% for item in first_data2 %} {{item.Country }} {% endfor %} and {% for item in second_data2 %}  {{item.Country }} {% endfor %}</h1>
  <div id="mytab" style="overflow-x: auto;width: 100%;"></div>
  <h1>GDP chart of {% for item in first_data2 %} {{item.Country }} {% endfor %} and {% for item in second_data2 %}  {{item.Country }} {% endfor %}
    </h1>
  <canvas id="myChart"   width="800" height="400" text-align: center></canvas>

    <script>
        let jsonData = {{ data | tojson }};
    let mytab = document.getElementById('mytab');
    let table = document.createElement('table');
    let tr = document.createElement('tr');
    Object.keys(jsonData[0]).forEach((key) => {
      let th = document.createElement('th');
      th.innerHTML = key;
      tr.appendChild(th);
    });
    table.appendChild(tr);

    jsonData.forEach((data) => {
      let tr = document.createElement('tr');
      Object.values(data).forEach((value) => {
        let td = document.createElement('td');
        td.innerHTML = value;
        tr.appendChild(td);
      });
      table.appendChild(tr);
    });
    mytab.appendChild(table);
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for data in first_data %}
                        "{{ data.DateTime }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: '{% for item in first_data2 %} {{item.Country }} {% endfor %}',
                    data: [
                        {% for data in first2 %}
                            {{ data.Value }},
                        {% endfor %}
                    ],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: '{% for item in second_data2 %} {{item.Country }} {% endfor %}',
                    data: [
                        {% for data in second2 %}
                            {{ data.Value }},
                        {% endfor %}
                    ],
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>
