<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    p, h1{
  text-align: center;
}
</style>
    <title>GDP Data</title>
</head>
<body>
    <h1>Fetch GDP Data</h1>
    <p>Free accounts have access to the following countries: Mexico, New Zealand, Sweden, Thailand. For more, contact us at support@tradingeconomics.com.</p>
    <form action="/fetch_data" method="post">
        <label for="first_country">First Country:</label>
        <select id="first_country" name="first_country">
            <script>
                var countries = ['Mexico', 'New Zealand', 'Sweden',' Thailand'];
                for (var i = 0; i < countries.length; i++) {
                    document.write("<option value='" + countries[i] + "'>" + countries[i] + "</option>");
                }
            </script>
        </select><br><br>
        <label for="second_country">Second Country:</label>
        <select id="second_country" name="second_country">
            <script>
                for (var i = 0; i < countries.length; i++) {
                    document.write("<option value='" + countries[i] + "'>" + countries[i] + "</option>");
                }
            </script>
        </select><br><br>
        <input type="submit" value="Fetch Data">
    </form>
</body>
</html>